Code/Client/app/build
Code/Shared/build
Code/Client/iOS/BM/build
Code/Client/Common/build
Code/Client/iOS/Supporting Files/.gradle
Code/Client/iOS/BM.xcodeproj/xcuserdata
Code/Client/iOS/BM.xcodeproj/project.xcworkspace/xcuserdata
Code/Client/Common/.gradle
Code/.gradle
Code/Client/Desktop/.gradle
Code/Client/iOS/BM.xcodeproj/project.xcworkspace/xcshareddata
*.iml
Code/Client/iOS/Example.xcodeproj/xcuserdata
Code/Client/iOS/Example/build
Code/Client/iOS/Example.xcodeproj/project.xcworkspace/xcuserdata
Code/Client/Desktop/build
Code/Client/iOS/Example/.gradle
Code/Build/buildSrc/.gradle
Code/Build/buildSrc/.gradle
Code/Client/Common/multi-mvp/.gradle
Code/Client/Common/multi-mvp/build
Code/Client/Shared/.gradle
Code/Client/Shared/build
Code/Lib/multi-mvp/.gradle
Code/Lib/multi-mvp/build
Code/Client/iOS/Supporting Files/build
Code/Build
Code/Client/Android/build-cache
Code/Server/build-cache
Code/Client/Desktop/build-cache
Code/Client/iOS/Supporting Files/build-cache
